@import "../../../variables";

section {
  .table__content {
    background: $--color-white;
    padding: 1rem 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
      }
    }

    &-search {
      display: grid;
      grid-template-columns: max(33%) 100px;
    }
  }

  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: $--color-grey-50;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: grid;
    grid-template-columns: max(25%) auto;
    align-items: center;
  }

  .example-element-diagram {
    padding-top: clamp(0rem, 2.5vw, 1rem);
    padding-bottom: clamp(0rem, 2.5vw, 1rem);

    .img {
      height: clamp(100px, 15vw, 130px);
      width: clamp(100px, 15vw, 130px);
    }
  }

  mat-column-expandedDetail {
    padding: 1.5rem 0;
  }

  .column__action {
    text-align: end;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }
}
