<div class="nav__links">
  <a class="nav__link" routerLink="/all-restaurants" routerLinkActive="active"
    ><span class="icon"><mat-icon> restaurant_menu</mat-icon></span
    >Restaurants</a
  >
  <a class="nav__link" routerLink="/all-chefs" routerLinkActive="active"
    ><span class="icon"><mat-icon>people</mat-icon></span
    >Chefs</a
  >
  <a class="nav__link" routerLink="/all-dishes" routerLinkActive="active"
    ><span class="icon"><mat-icon> fastfood</mat-icon></span
    >Dishes</a
  >
</div>
