main {
  .dashboard__section {
    display: grid;
    grid-template-columns: 1fr;

    .dashboard__page {
      width: 90vw;
      margin: 0 auto;
      padding: 2rem 0;
    }
  }

  @media screen and (min-width: 992px) {
    .dashboard__section {
      grid-template-columns: auto 1fr;

      .dashboard__page {
        width: 90%;
      }
    }

    app-small-side-bar {
      display: none;
    }
  }
}
