@import "../../../variables";

:host ::ng-deep app-logo img {
  max-width: 70px;
  margin: 0 auto 1.5rem;
}

.form {
  border-top: 5px solid $--color-primary-500;

  app-logo {
    img {
      max-width: 70px;
    }
  }

  h3,
  p {
    text-align: center;
  }

  p {
    margin-top: 1rem;
    margin-bottom: unset;

    .login__member-btn {
      background: transparent;
      border: transparent;
      color: $--color-primary-500;
      cursor: pointer;
      font-size: 1rem;
    }
  }

  .btn-block {
    margin-top: 1rem;
  }
}
