<section>
  <div
    *ngIf="isLoading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
    "
  >
    <mat-progress-bar color="primary" mode="indeterminate"> </mat-progress-bar>
  </div>

  <div class="table__content">
    <div class="table__content-header">
      <h3>Restaurants</h3>
      <button class="btn btn-primary" (click)="openDialog()">
        + New Restaurant
      </button>
    </div>

    <div class="table__content-search">
      <input
        class="form-input"
        type="text"
        id="name"
        (keyup)="applyFilter($event)"
        #input
      />
      <button class="btn">Search</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <!-- ID Column
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant._id }}</td>
    </ng-container> -->
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.name }}</td>
    </ng-container>
    <!-- popular Column -->
    <ng-container matColumnDef="popular">
      <th mat-header-cell *matHeaderCellDef>is popular?</th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.isPopular }}</td>
    </ng-container>
    <ng-container matColumnDef="signatureDish">
      <th mat-header-cell *matHeaderCellDef>signature dish</th>
      <td mat-cell *matCellDef="let restaurant">
        {{ restaurant.signatureDish?.name || "none" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="chef">
      <th mat-header-cell *matHeaderCellDef>chef</th>
      <td mat-cell *matCellDef="let restaurant">
        {{ restaurant.chef.name }}
      </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let restaurant" class="column__action">
        <button
          mat-icon-button
          color="primary"
          (click)="editRestaurant(restaurant)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteRestaurant(restaurant)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-diagram">
            <img
              src="{{ element.image }}"
              alt="{{ element.name }}"
              class="img"
            />
          </div>
          <div class="example-element-description">
            belongs to: {{ element.chef.name }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</section>
